[submodule "boringssl"]
	path = boringssl
	url = https://boringssl.googlesource.com/boringssl
[submodule "lsquic"]
	path = lsquic
	url = https://github.com/dtikhonov/lsquic
        branch = 202002141134-tutorial-mods
